<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADD USER</title>
</head>
<body>
    <h1> Update user information </h1>
        <form action="" method="post">
            <label>emp id :</label>
            <input type="text" name="empid" value="{{data.employee_id}}">
            <label>emp name :</label>
            <input type="text" name="empname" value="{{data.employee_name}}">
            <label>emp salary :</label>
            <input type="text" name="empsalary" value="{{data.salary}}">
            <input type="submit" value="Update emp details">
        </form>
</body>
</html>